/*此文件專門用來覆蓋樣式 src/assets/cover.less */
@background: #FFFFFF;
#app {
    /* .el-tabs__item:hover {
        color: #FFFFFF;
        cursor: pointer;
    }
    .el-input__inner,
    .el-tree{
        background: @background
    }
    .el-tree{
        color: #FFFFFF;
    }
    .el-tree-node__content:hover {
        background: #525252;
    } */
    .el-collapse-item{
        border-radius: 30px;
        overflow: hidden
    }
    .el-collapse-item__header{
        border-radius: 30px;
        overflow: hidden
    }
    .filter-tree{
        max-height: 500px;
        overflow: auto;
    }
}