/*引入 ant 会把html font-size设为50px; 再此设置与它抵消*/
#root{
    position: relative;
    font-size: 0.36rem;
    background-color: #FFF;
}

/*过度动画*/
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}



.component-out-leave,.component-out-leave-active{
  display: none;
}
.component-out-enter-active, .component-out-leave-active {
  transition: transform .2s ease;
}
.component-out-enter, .component-out-leave-active {
  transform: translateX(-100%);
}
/*Dialog*/
.details-list>li:not(:last-child) {
    border-bottom: 1px solid #EDEDED;
    padding: 0.5em 0;
}
.details-item-left{
    color: #000;
}
.details-item-right{

}
/*list*/
.list-more{
    padding: 0.4em 0;
}
/*item*/

.item-title-center{
    font-size: 0.8em;
}
.item-content{
    padding-left: 2.6em;
    margin-top: 0.8em;
}
.item-top{
    padding: 1em 1.5em;
    font-size: 0.7em;
    border-bottom: 1px solid #EEEDED;
}
.item-top span{
    display: inline-block;
    max-width: 7.5em;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.item-project-progress{
    padding: 1em 1em;
}

/*推进页*/
.issue-advance .scroller {
    background: #FFF;
    color: #676767;
}
.advance-top,
.issue-advance-item {
    font-size: 15px;
    padding: 0.5em 0.7em;
    border-bottom: 1px  solid #EEEDED;
}
.advance-top{
    padding: 0 0.7em;
}
.issue-advance-item .right {
    font-size: 14px;
}
.issue-advance-item-title {
    font-size: 15px;
    padding: 6px 0.7em;
    border-bottom: 1px  solid #EEEDED;
    background: #F8F7F7;
}

/*热点上升*/
.work-plan-edit-form .flex-row,
.hot-up-form .flex-row{
    margin-bottom: 10px;
}
.hot-up-form .justify {
    width: 77px;
}
/*推进页-> 工作计划*/
.work-plan-list .flex-row{
    padding:0 0.7em;
    font-size: 14px;
}
.work-plan-list .flex-row .right {
    font-size: 13px;
}
.work-plan-list .btn {
    border-top: 1px solid #EEEDED;
}
.work-plan-edit-form,
.hot-up-form{
    padding:10px 10px 0;
    font-size: 15px;
}
.hot-up-form .btn>div,
.work-plan-edit-form .btn>div {
    padding: 0 2px;
}
.work-plan .icon-new{
    width: 1.5em;
    height: 1.5em;
}
.work-plan-list .plan-describe{
    padding: 1.5em 0.7em;
    border-bottom: 1px solid #EEEDED;
}
.plan-describe>div:first-child {
    display: flex;
}
.plan-describe .left {
    flex: 1;
}
.plan-describe .right {
    flex: 4;
}
.work-plan-list .plan-info{
    padding: 0.6em 0.7em;
}
.work-plan-list .plan-info>[class*="flex-col-"]{
    padding: 0.1em 0;
}



/*iconfont*/
.icon {
    /* 通过设置 font-size 来改变图标大小 */
    width: 1em; height: 1em;
    /* 图标和文字相邻时，垂直对齐 */
    vertical-align: -0.15em;
    /* 通过设置 color 来改变 SVG 的颜色/fill */
    fill: currentColor;
    /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
        normalize.css 中也包含这行 */
    overflow: hidden;
}
.icon.icon-up{
    width: 3.5em;
    height: 3.5em;
}