/*重写ant*/

/*data picker*/
/*.am-picker-popup-mask{
    z-index: 2000;
}
.am-picker-popup-wrap{
    z-index: 2000;
}
.am-picker-col{
    height: 200px;
}
.am-picker-popup-item{
    padding: 10px 20px;
    font-size: 18px;
}
.am-picker-col{
    transform: scale(0.5);
}
.am-picker-col-indicator{
    height: 40px;
}
.am-picker-col-item{
    font-size: .61em;
    height: 40px;
    line-height: 40px;
}*/

/*.work-plan-edit-from {
    .am-list .am-list-item.am-textarea-item,
    .am-list-item {
        min-height: 10px;
        padding-left: 0;
    }
    .am-textarea-label.am-textarea-label-5,
    .am-textarea-control textarea,
    .am-input-label .am-input-label-5,
    .am-list-item .am-input-label,
    .am-list-item .am-input-control input {
        font-size: 16px;
        line-height: 16px;
    }
    .am-list-item.am-input-item,
    .am-textarea-control{
        padding-bottom: 0;
        padding-top: 0;
        height: auto;
    }
    .am-textarea-label,
    .am-input-label,
    .am-list-item .am-input-label.am-input-label-5,
    .am-textarea-label.am-textarea-label-5{
        line-height: 49px;
        height: 49px;
        width: 80px;
        min-height: auto;
    }
    .am-list .am-list-item.am-textarea-item:after,
    .am-list-item.am-input-item:after {
        left: 0;
    }
    .am-list-item .am-textarea-clear,
    .am-list-item .am-input-clear{
        width: 20px;
        height: 20px;
        background-size: 18px auto;
    }
}
*/




