.form-container {
    position: relative;
    display: inline-block;
    width: 100%;
    
}
.form-element {
    padding-right: 22px;
    width: 100%;
    height: 100%;
    border: 1px solid #CCC;
}
.form-container .icon-date,
.form-container .icon-clear {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    right: 8px
}