

.loading-container{
    position: absolute;
    width: 100%; 
    height: 100%;
    background: black;
    z-index: 100;
}
.outside-circle{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -60px;
    margin-left: -60px;
    width: 100px;
    height: 100px;
    border-color: #2187e7 transparent;
    border-width: 10px;
    border-style: solid;
    border-radius: 100px;
    box-shadow: 0 0 50px #2187e7;
    animation: loadingAnimation 2s linear 0s infinite alternate;
}

.inside-circle{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 50%;
    top: 50%;
    margin-left: -30px;
    margin-top: -30px;
    border-color: #2187e7 transparent;
    border-width: 6px;
    border-style: solid;
    border-radius: 60px;
    box-shadow: 0 0 105px #2187e7;
    animation: loadingAnimation2 1s linear 0s infinite alternate;
}

.circle-text {
    position: absolute; 
    top: 50%;
    height: 2rem;
    width: 100%;
    line-height: 2rem; 
    margin: 0; 
    padding: 0;
    margin-top: -1rem; 
    text-align: center; 
    color: rgba(0,183,229,.5); 
}
.text{
    transform: translateX(-50%);
}
@keyframes loadingAnimation {
    30% {
        transform:rotate(360deg);
    }
    100% {
        transform:rotate(0deg);
    }
}
@keyframes loadingAnimation2 {
    100% {
        transform:rotate(360deg);
    }
}
